{% extends 'base.html' %}
{% block extrastyle %}
<script type="text/javascript">
 function openpopup(url){
   newwindow = window.open(url,'popup',' location=1, directories=0, resizable=0, width=500,height=700,Top=20,Left=490');
   if (window.focus) {newwindow.focus()}
   return false;
 }
 function closepopup(){
   window.opener.location.href=window.opener.location.href;
   window.close();
   return false;
 }
 $(document).ready( function () {

    $(function() {
        $("#id_accounts").chained("#id_business");
        {% if diesel %}
          $('#id_diesel').val({{diesel}});
        {% endif %}
        {% if driver.type == 'Driver' %}
           $("#id_accounts_income").chained("#id_business");
        {% endif %}
        {% if account %}
           $("#id_accounts").val({{account.id_acn}});
        {% endif %}
        cal();
    });


    function cal (){
       var sum = 0;
       var porct = parseFloat($('#id_porc_company').val() || 0);
       var prepass = parseFloat($('#id_pre_pass').val() || 0);
       var escrow = parseFloat($('#id_escrow').val() || 0);
       var downpay = parseFloat($('#id_down_payment').val() || 0);
       var insurance = parseFloat($('#id_insurance').val() || 0);
       var diesel = parseFloat($('#id_diesel').val() || 0);
       var other = parseFloat($('#id_other').val() || 0);
       $('.value').each(function(index, element) {
         if ($(this).parents("tr").find('.paid').prop('checked')) {
            sum += parseFloat($(this).val());
            all_select += 1;
          }
       });
       $('#id_subtotal').val(sum.toFixed(2));
       var subtotal = sum;
       var total = 0;

       var comis = (subtotal*porct)/100;
       $('#id_company_fee').val(comis.toFixed(2));
       var gross = subtotal - comis;
       $('#id_gross').val(gross.toFixed(2));
       var fee = comis + prepass + escrow + downpay + insurance + diesel + other;
       var all_select = 0;
       total = gross - fee;
       $('#id_value').val(total.toFixed(2));
       breakdown = total/2
       $('#id_total_owner').val(breakdown.toFixed(2));
       $('#id_total_driver').val(breakdown.toFixed(2));
       var no = $("#tbLoad tr").length-1;
       if(all_select == no){
         $('#id_paid').bootstrapSwitch('state', true, true);
       }
       else{
         $('#id_paid').bootstrapSwitch('state', false, false);
       }
    }
   $("#id_porc_company, #id_pre_pass, #id_escrow, #id_down_payment, #id_insurance, #id_diesel, #id_other").on("change", function() {
       cal();
    });


});
</script>
{% endblock %}
{% block content %}
<section>
    <div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-indent fa-4x"></i>
            </div>
            <div class="col-xs-9 text-left">
                <div><h3>{{ title }}</h3></div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form name="form_invoices" method="post" class="form" role="form" id="form_invoices" validate>{% csrf_token %}
            <p class="bg-info"><strong>Payment Header</strong></p>
            <fieldset>
                <!-- Form Name -->
                <!-- Text input-->
                <div class="row">
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Period Beginning:</label>
                        {{ form.start_date }}
                        {{ form.start_date.error }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Period Ending:</label>
                          {{form.end_date}}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Pay Date:</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form.pay_date}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">{{ form.business.label }} </label>
                        {{ form.business }}
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">{{ form.waytopay.label }} </label>
                        {{ form.waytopay }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Select Account:</label>

                        <select id="id_accounts" class="form-control input-md" name="accounts" required="">
                            <option value="" selected>---------</option>
                            {% for a in accounts %}
                            <option value="{{a.id_acn}}" class="{{a.business.id_bus}}">{{a}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <p class="bg-info"><strong>Drescription to Payment</strong></p>
                <div id="panelLoad">
                    <table id="tbLoad" class="table table-striped table-bordered ">
                        <thead>
                        <tr>
                            <th class="col-md-0" style="display : none"></th>
                            <th>No.</th>
                            <th>Broker</th>
                            <th>Pick Up Date</th>
                            <th>Deliver Date</th>
                            <th>Value</th>
                            <th>Paid</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <input name="load_TOTAL_FORMS" value="0" id="id_load_TOTAL_FORMS" type="hidden">
                        {% for d in loads %}
                        <tr>
                            <td class="col-md-0 Id" style="display : none"><input name="id_{{d.id_lod}}" value="{{d.id_lod}}" class="form-control " id="id_{{d.id_lod}}" type="number"></td>
                            <td class="col-md-1">{{d.number}}</td>
                            <td class="col-md-2">{{d.broker}}</td>
                            <td class="col-md-2">{{d.pickup_date}}</td>
                            <td class="col-md-2">{{d.deliver_date}}</td>
                            <td class="col-md-1"><input name="value_{{d.id_lod}}" value="{{d.value}}"  class="form-control value" id="value_{{d.id_lod}}" type="text" readonly=""></td>
                            <td class="col-md-1"><input type="checkbox"  aria-pressed="false" class="col-md-offset-4 paid" id="paid_{{d.id_lod}}" name="paid_{{d.id_lod}}" {% if d.paid %} checked {% endif %}></td>
                            <td class="col-md-1"><toolbar class="md-accent"><button data-type="info" data-trigger="focus" title="Delete Load" data-animation="am-flip-x" type="button" class="btn remove btn-danger test-tooltip"><i class="fa fa-times" aria-hidden="true"></i><tooltip md-direction="left"></tooltip></button></toolbar></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row" >
                        <div class="form-group col-md-8">
                            <label class="label-control">Note:</label>
                                {{form.note}}
                        </div>
                        <div class="form-group col-md-3 ">
                            <label class="label-control">Subtotal:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input id="id_subtotal" type="number" name="subtotal" placeholder="0.00" class="form-control" readonly>
                            </div>
                            <label class="label-control">Company Fee:</label>
                            <div class="input-group">
                                <span class="input-group-addon">%</span>
                                {{form2.porc_company}}
                                <span class="input-group-addon">$</span>
                                {{form2.company_fee}}
                                {{form2.company_fee.error}}
                            </div>
                            <label class="label-control">Gross: </label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input id="id_gross" type="number" name="gross" placeholder="0.00" class="form-control" readonly>
                            </div>
                            <label class="label-control">Pre Pass:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                {{form2.pre_pass}}
                            </div>
                            <label class="label-control">ESCROW:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                {{form2.escrow}}
                            </div>
                            <label class="label-control">Down Payment:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                {{form2.down_payment}}
                            </div>
                            <label class="label-control">Insurance:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                {{form2.insurance}}
                            </div>
                            <label class="label-control">Diesel:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                {{form2.diesel}}
                            </div>
                            <label class="label-control">Micellaneous:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                {{form2.other}}
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-md-offset-4">
                            <label class="label-control">Total:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                {{form.value}}
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-md-offset-4">
                            <label class="label-control text-primary"><strong>Pay Breakdown</strong></label><br/>
                            <label class="label-control">Total Owner:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                {{form2.total_owner}}
                            </div>
                            {% if driver.type == 'Driver' %}
                            <label class="label-control">Select Account:</label>

                            <select id="id_accounts_income" class="form-control input-md" name="accounts_income" required="">
                                <option value="" selected>---------</option>
                                {% for a in income_accounts %}
                                <option value="{{a.id_acn}}" class="{{a.business.id_bus}}">{{a}}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-3 col-md-offset-4">
                            <label class="label-control">Total Driver:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                {{form2.total_driver}}
                            </div>
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group col-md-5 col-md-offset-4">
                        <input type="submit" class="btn btn-success" value="Save">
                        <a type="button" onclick="history.back(-1)" class="btn btn-danger">Cancel </a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</section>
{% endblock %}

