{% extends 'base.html' %}
{% block extrastyle %}
<script type="text/javascript">
 function openpopup(url){
   newwindow = window.open(url,'popup',' location=1, directories=0, resizable=0, width=500,height=700,Top=20,Left=490');
   if (window.focus) {newwindow.focus()}
   return false;
 }
 function closepopup(){
   window.opener.location.href=window.opener.location.href;
   window.close();
   return false;
 }
 $(document).ready( function () {

    $(function() {
        {% if dispatch.comission %}
          $('#id_comission').val(parseFloat());
        {% endif %}
        {% if driver.type == 'Driver' %}
           $("#id_accounts_income").chained("#id_business");
        {% endif %}
        cal();
    });

{% if driver %}
    function cal (){
       var sum = 0;
       var porct = parseFloat($('#id_porc_company').val() || 0);
       var prepass = parseFloat($('#id_pre_pass').val() || 0);
       var escrow = parseFloat($('#id_escrow').val() || 0);
       var downpay = parseFloat($('#id_down_payment').val() || 0);
       var insurance = parseFloat($('#id_insurance').val() || 0);
       var diesel = parseFloat($('#id_diesel').val() || 0);
       var other = parseFloat($('#id_other').val() || 0);
       $('.value').each(function(index, element) {
         if ($(this).parents("tr").find('.paid').prop('checked')) {
            sum += parseFloat($(this).val());
            all_select += 1;
          }
       });
       $('#id_subtotal').val(sum.toFixed(2));
       var subtotal = sum;
       var total = 0;

       var comis = (subtotal*porct)/100;
       $('#id_company_fee').val(comis.toFixed(2));
       var gross = subtotal - comis;
       $('#id_gross').val(gross.toFixed(2));
       var fee = comis + prepass + escrow + downpay + insurance + diesel + other;
       var all_select = 0;
       total = gross - fee;
       $('#id_value').val(total.toFixed(2));
       breakdown = total/2
       $('#id_total_owner').val(breakdown.toFixed(2));
       $('#id_total_driver').val(breakdown.toFixed(2));
       var no = $("#tbLoad1 tr").length-1;
       if(all_select == no){
         $('#id_paid').bootstrapSwitch('state', true, true);
       }
       else{
         $('#id_paid').bootstrapSwitch('state', false, false);
       }
    }
   {% endif %}
   {% if dispatch %}
   function cal (){
       var sum = 0;
       var porct = parseFloat($('#id_comission').val() || 0);
       var other = parseFloat($('#id_discount').val() || 0);
       $('.value').each(function(index, element) {
         if ($(this).parents("tr").find('.paid').prop('checked')) {
            sum += parseFloat($(this).val());
            all_select += 1;
          }
       });
       $('#id_subtotal').val(sum.toFixed(2));
       var subtotal = sum;
       var total = 0;

       var comis = (subtotal*porct)/100;
       $('#id_comision_value').val(comis.toFixed(2));
       var fee = other;
       var all_select = 0;
       total = comis - fee;
       $('#id_value').val(total.toFixed(2));
       var no = $("#tbLoad tr").length-1;
       if(all_select == no){
         $('#id_paid').bootstrapSwitch('state', true, true);
       }
       else{
         $('#id_paid').bootstrapSwitch('state', false, false);
       }
    }
    {% endif %}
    {% if employee %}
     function cal (){
       var regular = {{ form.regular_hours }};
       var overtime = {{ form.overtime_hours }};
       var rate = $('#rate').val();
       var rateovertimer = rate*1.5
       var discounts = {{ form.discount }};
       var gross = (regular*rate)+(overtime*rateovertimer)
       $('#gross').val(gross);
    };
    {% endif %}

});
</script>
{% endblock %}
{% block content %}
<section>
    <div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-indent fa-4x"></i>
            </div>
            <div class="col-xs-9 text-left">
                <div><h3>{{ title }}</h3></div>
            </div>
        </div>
    </div>
    <div class="panel-body">
{% if driver %}

<p class="bg-info"><strong>Payment Header</strong></p>
            <div>
                <!-- Form Name -->
                <!-- Text input-->
                <div class="row">
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Period Beginning:</label>
                        {{ form.start_date }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Period Ending:</label>
                          {{form.end_date}}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Pay Date:</label>
                         {{form.pay_date}}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Business:</label>
                        {{ form.business }}
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Payment Method:</label>
                        {{ form.waytopay }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Account:</label>
                        {{form.accounts}}
                    </div>
                </div>
                <p class="bg-info"><strong>Drescription to Payment</strong></p>
                <div id="panelDirver">
                    <table id="tbLoad1" class="table table-striped table-bordered ">
                        <thead>
                        <tr>
                            <th class="col-md-0" style="display : none"></th>
                            <th>No.</th>
                            <th>Broker</th>
                            <th>Pick Up Date</th>
                            <th>Deliver Date</th>
                            <th>Value</th>
                            <th>Paid</th>
                        </tr>
                        </thead>
                        <tbody>
                        <input name="load_TOTAL_FORMS" value="0" id="id_load_TOTAL_FORMS" type="hidden">
                        {% for d in loads %}
                        <tr>
                            <td class="col-md-0 Id" style="display : none"><input name="id_{{d.id_lod}}" value="{{d.id_lod}}" class="form-control " id="id_{{d.id_lod}}" type="number"></td>
                            <td class="col-md-1">{{d.number}}</td>
                            <td class="col-md-2">{{d.broker}}</td>
                            <td class="col-md-2">{{d.pickup_date}}</td>
                            <td class="col-md-2">{{d.deliver_date}}</td>
                            <td class="col-md-1"><input name="value_{{d.id_lod}}" value="{{d.value}}"  class="form-control value" id="value_{{d.id_lod}}" type="text" readonly=""></td>
                            <td class="col-md-1">{% if d.paid %} <div class="glyphicon glyphicon-ok"></div> {% endif %}</td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row" >
                        <div class="form-group col-md-8">
                            <label class="label-control">Note:</label>
                                {{form.note}}
                        </div>
                        <div class="form-group col-md-3 ">
                            <label class="label-control">Subtotal:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input id="id_subtotal" type="number" name="subtotal" placeholder="0.00" class="form-control" readonly>
                            </div>
                            <label class="label-control">Company Fee:</label>
                            <div class="input-group">
                                <div>
                                    (% {{form2.porc_company}}) $ {{form2.company_fee}}
                                </div>
                            </div>
                            <label class="label-control">Gross: </label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input id="id_gross" type="number" name="gross" placeholder="0.00" class="form-control" readonly>
                            </div>
                            <label class="label-control">Pre Pass:</label>
                            <div class="input-group">
                                <span>$</span>
                                {{form2.pre_pass}}
                            </div>
                            <label class="label-control">ESCROW:</label>
                            <div class="input-group">
                                <span>$</span>
                                {{form2.escrow}}
                            </div>
                            <label class="label-control">Down Payment:</label>
                            <div class="input-group">
                                <span>$</span>
                                {{form2.down_payment}}
                            </div>
                            <label class="label-control">Insurance:</label>
                            <div class="input-group">
                                <span>$</span>
                                {{form2.insurance}}
                            </div>
                            <label class="label-control">Diesel:</label>
                            <div class="input-group">
                                <span>$</span>
                                {{form2.diesel}}
                            </div>
                            <label class="label-control">Micellaneous:</label>
                            <div class="input-group">
                                <span>$</span>
                                {{form2.other}}
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-md-offset-4">
                            <label class="label-control">Total:</label>
                            <div class="input-group">
                                <span>$</span>
                                {{form.value}}
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-md-offset-4">
                            <label class="label-control text-primary"><strong>Pay Breakdown</strong></label><br/>
                            <label class="label-control">Total Owner:</label>
                            <div class="input-group">
                                <span>$</span>
                                {{form2.total_owner}}
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-md-offset-4">
                            <label class="label-control">Total Driver:</label>
                            <div class="input-group">
                                <span>$</span>
                                {{form2.total_driver}}
                            </div>
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group col-md-5 col-md-offset-4">
                        <a type="button" onclick="history.back(-1)" class="btn btn-danger">Cancel </a>
                    </div>
                </div>
            </div>

{% endif %}

{% if dispatch %}

<p class="bg-info"><strong>Payment Header</strong></p>
            <div>
                <!-- Form Name -->
                <!-- Text input-->
                <div class="row">
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Period Beginning:</label>
                        {{ form.start_date }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Period Ending:</label>
                          {{form.end_date}}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Pay Date:</label>
                          {{form.pay_date}}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Business: </label>
                        {{ form.business }}
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Payment Method:</label>
                        {{ form.waytopay }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Account:</label>
                        {{form.accounts}}
                    </div>
                </div>
                <p class="bg-info"><strong>Drescription to Payment</strong></p>
                <div id="panelLoad">
                    <table id="tbLoad" class="table table-striped table-bordered ">
                        <thead>
                        <tr>
                            <th class="col-md-0" style="display : none"></th>
                            <th>No.</th>
                            <th>Broker</th>
                            <th>Pick Up Date</th>
                            <th>Deliver Date</th>
                            <th>Value</th>
                            <th>Paid</th>
                        </tr>
                        </thead>
                        <tbody>
                        <input name="load_TOTAL_FORMS" value="0" id="id_load_TOTAL_FORMS" type="hidden">
                        {% for d in loads %}
                        <tr>
                            <td class="col-md-0 Id" style="display : none"><input name="id_{{d.id_lod}}" value="{{d.id_lod}}" class="form-control " id="id_{{d.id_lod}}" type="number"></td>
                            <td class="col-md-1">{{d.number}}</td>
                            <td class="col-md-2">{{d.broker}}</td>
                            <td class="col-md-2">{{d.pickup_date}}</td>
                            <td class="col-md-2">{{d.deliver_date}}</td>
                            <td class="col-md-1"><input name="value_{{d.id_lod}}" value="{{d.value}}"  class="form-control value" id="value_{{d.id_lod}}" type="text" readonly=""></td>
                            <td class="col-md-1">{% if d.paid %} <div class="glyphicon glyphicon-ok"></div> {% endif %}</td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row" >
                        <div class="form-group col-md-8">
                            <label class="label-control">Note:</label>
                                {{form.note}}
                        </div>
                        <div class="form-group col-md-3 ">
                            <label class="label-control">Gross:</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input id="id_subtotal" type="number" name="subtotal" placeholder="0.00" class="form-control" readonly>
                            </div>
                            <label class="label-control">Commission to pay:</label>
                            <div class="input-group">
                                <span class="input-group-addon">%</span>
                                <input id="id_comission" type="text" name="comission" placeholder="0.00" class="form-control" value="{{dispatch.comission}}">
                                <span class="input-group-addon">$</span>
                                <input id="id_comision_value" type="number" name="comission_value" placeholder="0.00" class="form-control" readonly>
                            </div>
                            <label class="label-control">Discount:</label>
                            <div class="input-group">
                                <span>$</span>
                                {{form.discount}}
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-md-offset-4">
                            <label class="label-control">Total:</label>
                            <div class="input-group">
                                <spa>$</spa>
                                {{form.value}}
                            </div>
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group col-md-5 col-md-offset-4">
                        <a type="button" onclick="history.back(-1)" class="btn btn-danger">Cancel </a>
                    </div>
                </div>
            </div>

{% endif %}
{% if not driver and not dispatch %}

<div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Period Beginning:</label>
                        {{ form.start_date }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Period Ending:</label>
                                  {{form.end_date}}

                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Pay Date:</label>
                                    {{form.pay_date}}

                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Business: </label>
                        {{ form.business }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Account:</label>
                        {{form.accounts}}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Payment Method: </label>
                        {{ form.waytopay }}
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Regular Hours: </label>
                        {{ form.regular_hours }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Overtime Hours: </label>
                        {{ form.overtime_hours }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Rate: </label>
                        <input id="rate" type="number" name="rate" placeholder="0.00" value="{{employee.value}}" class="form-control">
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Gross Pay: </label>
                        <input id="gross" type="number" placeholder="0.00" class="form-control" readonly>
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Discount: </label>
                        {{ form.discount }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">Net Pay: </label>
                        {{ form.value }}
                    </div>
                <div class="form-group col-md-5 col-md-offset-4">
                    <a type="button" onclick="history.back(-1)" class="btn btn-danger">Cancel </a>
                </div>
    </div>

{% endif %}
        </div>
</div>
</section>
{% endblock %}