{% extends 'layout/layout.html' %}
{% block content %}
<section>
  <div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
          <i class="fa fa-list fa-4x"></i>
      </div>
      <div class="col-xs-9 text-left">
          <div><h3>List Users</h3></div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="navbar-button">
      <a id="btnAdd" class="btn-primary btn col-md-offset-11" role="button" data-trigger="focus" title="Add User" href="/#!/users/create">
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        <tooltip md-direction="left">New</tooltip>
      </a>
    </div>
    <div class="input-group col-md-3">
      <span class="input-group-btn">
        <input type="search" id="txtSearch" ng-model="searchInput" class="form-control" placeholder="Search for...">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
    <br/>
    <div style="overflow-x:auto;">
    <table id="listUsers" class="ui inverted blue table">
      <thead>
        <tr>
          <th>Name</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Username</th>
          <th>Active</th>
          <th>Profiler</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
         {% if objects_list %}
         {% for user in objects_list %}
        <tr>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.is_active }}</td>
          <td>{{}}</td>
          <td>
          <toolbar class="md-accent">
            <a data-type="info" data-trigger="focus" title="Edit User" data-animation="am-flip-x" type="button" class="btn btn-primary test-tooltip" href="{% url 'administration:users_edit' user.id %}">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <tooltip md-direction="left"></tooltip>
            </a>
          </toolbar>
          <toolbar class="md-accent">
            <a data-type="info" data-animation="am-flip-x" data-trigger="focus" title="Delete User" type="button" class="btn btn-primary test-tooltip" href="{% url 'administration:users_delete' user.id">
              <i class="fa fa-trash" aria-hidden="true"></i>
              <tooltip md-direction="left"></tooltip>
            </a>
          </toolbar>
          </td>
          <td class="animate-repeat" ng-if="results.length === 0">
            <strong>No results found...</strong>
          </td>
        </tr>
      {% endfor %}
      {% else %}
         <strong>No results found...</strong><a href="/users/create">add one</a>
      {% endif %}
      </tbody>
    </table>
  </div>
  </div>
  </div>
</section>
{% endblock %}
