{% extends 'layout/layout.html' %}
{% block content %}
<section>
  <div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
          <i class="fa fa-list fa-4x"></i>
      </div>
      <div class="col-xs-9 text-left">
          <div><h3>List Users</h3></div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="navbar-button">
      <a id="btnAdd" class="btn-primary btn col-md-offset-11" role="button" data-trigger="focus" title="Add User" href="/#!/users/create">
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        <tooltip md-direction="left">New</tooltip>
      </a>
    </div>
    <div class="input-group col-md-3">
      <span class="input-group-btn">
        <input type="search" id="txtSearch" ng-model="searchInput" class="form-control" placeholder="Search for...">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
    <br/>
    <div style="overflow-x:auto;">
    <table id="listUsers" class="ui inverted blue table">
      <thead>
        <tr>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(name_use)">
              <i class="sort alphabet ascending icon"></i>
            </a>
              Name
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(lastname_use)">
              <i class="sort alphabet ascending icon"></i>
            </a>
            LastName
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(email_use)">
              <i class="sort alphabet ascending icon"></i>
            </a>
            Email
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(PROFILERS_id_prf_use)">
              <i class="sort alphabet ascending icon"></i>
            </a>
            Profiler
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(active_use.data)">
              <i class="checkmark box icon"></i>
            </a>
            Active
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(date_deactivated_use)">
              <i class="calendar outline icon"></i>
            </a>
            Deactivated Date
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | filter:searchInput as results">
          <td ng-bind="user.name_use"></td>
          <td ng-bind="user.lastname_use"></td>
          <td ng-bind="user.email_use"></td>
          <td ng-bind="user.profiler_name"></td>
          <td>
            <i ng-show="user.active_use == 1" class="glyphicon glyphicon-ok" aria-hidden="true"/>
          </td>
          <td ng-bind="user.date_deactivated_use">{{}}</td>
          <td>
          <toolbar class="md-accent">
            <a data-type="info" data-trigger="focus" title="Edit User" data-animation="am-flip-x" type="button" class="btn btn-primary test-tooltip" href="#!/users/{{user.id_use}}/edit">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <tooltip md-direction="left"></tooltip>
            </a>
          </toolbar>
          <toolbar class="md-accent">
            <a data-type="info" data-animation="am-flip-x" data-trigger="focus" title="Delete User" type="button" class="btn btn-primary test-tooltip" ng-click="delete(user);">
              <i class="fa fa-trash" aria-hidden="true"></i>
              <tooltip md-direction="left"></tooltip>
            </a>
          </toolbar>
          </td>
          <td class="animate-repeat" ng-if="results.length === 0">
            <strong>No results found...</strong>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <div ng-hide="!users || users.length">
          <strong>No results found...</strong><a href="/#!/users/create">add one</a>
        </div>
      </tfoot>
    </table>
  </div>
  </div>
  </div>
</section>
{% endblock %}
