<fieldset>
    <div class="form-group col-md-5 col-md-offset-1" >
        <label class="label-control">{{form_permit.usdot.label}}</label>
        {{form_permit.usdot}}
    </div>
    <div class="form-group col-md-5 col-md-offset-1" >
        <label class="label-control">{{form_permit.usdot_pin.label}}</label>
        {{form_permit.usdot_pin}}
    </div>
    <div class="form-group col-md-5 col-md-offset-1" >
        <label class="label-control">{{form_permit.txdmv.label}}</label>
        {{form_permit.txdmv}}
    </div>
    <div class="form-group col-md-5 col-md-offset-1" >
        <label class="label-control">{{form_permit.txdmv_user.label}}</label>
        {{form_permit.txdmv_user}}
    </div>
    <div class="form-group col-md-5 col-md-offset-1" >
        <label class="label-control">{{form_permit.txdmv_passd.label}}</label>
        {{form_permit.txdmv_passd}}
    </div>
    <div class="form-group col-md-5 col-md-offset-1">
        <label class="label-control">{{form_permit.txdmv_date.label}}</label>
        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
            {{form_permit.txdmv_date}}
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>
    </div>
    <div class="form-group col-md-5 col-md-offset-1">
        <label class="label-control">{{form_permit.txdmv_date_exp.label}}</label>
        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
            {{form_permit.txdmv_date_exp}}
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>
        <label>
           <input type="checkbox" id="txdmv_alert" name="txdmv_alert" checked> Alert
        </label>
    </div>
    <div class="form-group col-md-5 col-md-offset-1" >
        <label class="label-control">{{form_permit.mc.label}}</label>
        {{form_permit.mc}}
    </div>
    <div class="form-group col-md-5 col-md-offset-1" >
        <label class="label-control">{{form_permit.mc_pin.label}}</label>
        {{form_permit.mc_pin}}
    </div>
    <div class="form-group col-md-5 col-md-offset-1" >
        <label class="label-control">{{form_permit.boc3.label}}</label>
        {{form_permit.boc3}}
    </div>
    <div class="form-group col-md-5 col-md-offset-1">
        <label class="label-control">{{form_permit.boc3_date.label}}</label>
        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
            {{form_permit.boc3_date}}
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>
    </div>
    <div class="form-group col-md-5 col-md-offset-1" >
        <label class="label-control">{{form_permit.urc.label}}</label>
        {{form_permit.urc}}
    </div>
</fieldset>