<section>
    <div class="table-responsive">
                <table id="listCustomer" class="data-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="col-md-2">USDOT</th>
                        <th class="col-md-2">TEXA DMV</th>
                        <th class="col-md-2">MC</th>
                        <th class="col-md-2">BOC 3</th>
                        <th class="col-md-2">UCR</th>
                        <th class="col-md-2">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in permits %}
                    <tr>
                        <td><a onclick="openpopup('{% url 'services:permit' pk=p.id_per popup=1%}')">{{p.usdot}}</a></td>
                        <td>{{p.txdmv}}</td>
                        <td>{{p.mc}}</td>
                        <td>{{p.boc3}}</td>
                        <td>{{p.ucr}} </td>
                        <td>
                            <toolbar class="md-accent">
                                <a type="button" class="btn btn-info" href="{% url 'services:permit_edit' p.id_per %}"><span><i class="fa fa-pencil-square-o"></i></span></a>
                            </toolbar>
                            <toolbar class="md-accent">
                                <a type="button" class="btn btn-danger"  target="popup" onclick="openpopup('{% url 'services:permit_delete' p.id_per %}')"><span><i class="fa fa-trash"></i></span></a>
                            </toolbar>
                        </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
    </div>
</section>
