{% extends 'base.html' %}
{% block extrastyle %}
<script type="text/javascript">
 function openpopup(url){
   newwindow = window.open(url,'popup',' location=1, directories=0, resizable=0, width=500,height=700,Top=20,Left=490');
   if (window.focus) {newwindow.focus()}
   return false;
 }
 function closepopup(){
   window.opener.location.href=window.opener.location.href;
   window.close();
   return false;
 }
 $(document).ready( function () {
   $(".btn_add_cut").click(function() {
      var column = $(this).closest('tr').children()[5].textContent;
      $('#id_customers').val(column)
      $('#customerList').modal('hide');
    });
  });
</script>
{% endblock %}
{% block content %}
<section>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-building fa-4x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div><h3>{{ title }}</h3></div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form name="form_company" method="post" class="form" role="form" id="form_company" validate>{% csrf_token %}

                <fieldset>
                    {% if not is_popup %}
                    <div class="form-group col-md-5 col-md-offset-3">
                        <label class="label-control">Select Customer:</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" id="addcustomer" class="btn btn-success test-tooltip" data-toggle="modal" data-target="#customerList" data-type="info" data-trigger="focus" title="Customer List" data-animation="am-flip-x">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                    <tooltip md-direction="left"></tooltip>
                                </button>
                            </span>
                            {{ form.customers }}
                            <span class="input-group-btn">
                                <a type="button" id="newcustomer" class="btn btn-success test-tooltip" href="{% url 'accounting:customer_popup' 1 %}" target="popup" onclick="window.open('','popup',' location=1, directories=0, resizable=0, width=500,height=700,Top=20,Left=490')" data-trigger="focus" title="Add new Customer" data-animation="am-flip-x">
                                    <i class="fa fa-plus"></i>
                                    <tooltip md-direction="right"></tooltip>
                                </a>
                            </span>
                        </div>

                    </div>
                    {% include 'accounting/customer/customerModal.html'%}
                    {% endif %}
                    <div class="form-group col-md-4 col-md-offset-1" >
                        <label class="label-control">Name:</label>
                        {{form.name}}
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1" >
                        <label class="label-control">License Number:</label>
                        {{form.license_numb}}
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1" >
                        <label class="label-control">Address:</label>
                        {{form.address}}
                    </div>
                     <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">Dob:</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form.dob}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                     <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">License Date Expiration:</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form.lic_date_exp}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                            <input type="checkbox"  aria-pressed="false" data-off-color="danger" class="switch" data-size="mini" data-on-text="Alert ON" data-off-text="Alert OFF" id="lic_alert" name="lic_alert" checked>
                    </div>
                     <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">Medicard Date Expiration:</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form.medicard_date_exp}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                            <input type="checkbox"  aria-pressed="false" data-off-color="danger" class="switch" data-size="mini" data-on-text="Alert ON" data-off-text="Alert OFF" id="medicard_alert" name="medicard_alert" checked>
                    </div>

                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">Drugtest Date:</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form.drugtest_date}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">Drugtest Date Expiration:</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form.drugtest_date_exp}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                            <input type="checkbox"  aria-pressed="false" data-off-color="danger" class="switch" data-size="mini" data-on-text="Alert ON" data-off-text="Alert OFF" id="drugtest_alert" name="drugtest_alert" checked>
                    </div>

                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">Mbr Date:</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form.mbr_date}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">Mbr Date Expiration:</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form.mbr_date_exp}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                            <input type="checkbox"  aria-pressed="false" data-off-color="danger" class="switch" data-size="mini" data-on-text="Alert ON" data-off-text="Alert OFF" id="mbr_alert" name="mbr_alert" checked>
                    </div>

                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">Begining Date:</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form.begining_date}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                     <div class="form-group col-md-4 col-md-offset-1" >
                        <label class="label-control">State:</label>
                        {{form.state}}
                    </div>
                    <div class="form-group col-md-2 col-md-offset-1" >
                        <label class="label-control"> Is Deactivate: </label>
                        {{form.deactivate}}
                    </div>
                    {% if form.deactivate and deactivate%}
                    <div class="form-group col-md-2 col-md-offset-1" >
                        <label class="label-control">Deactivate Date:</label>
                        {{form.deactivate_date}}
                    </div>
                    {% endif %}
                    {% if not deactivate %}
                    <div class="form-group col-md-5 col-md-offset-4">
                        <input type="submit" class="btn btn-success" value="Save" {% if is_popup %} onclick="closepopup()" {% endif %}>
                        <a type="button"  class="btn btn-danger" {% if is_popup %} onclick="closepopup()" {% else %} onclick="history.back(-1)" {% endif %}>Cancel </a>
                    </div>
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
</section>
{% endblock %}