{% for obj in chat %}
    {% if obj.users == request.user %}
                <div class="text-right alert alert-info col-lg-9 col-md-6"><span>
                    <strong>
                        {% if obj.name %}
                          {{obj.name}}:
                        {% else %}
                        {{obj.users}}:
                        {% endif %}
                    </strong><br/>{{ obj.message }}</span></div>
                    {% else %}
                <div class="text-left alert alert-success col-lg-9 col-md-6"><span>
                    <strong>
                        {% if obj.name %}
                          {{obj.name}}:
                        {% else %}
                        {{obj.users}}:
                        {% endif %}
                    </strong><br/>{{ obj.message }}</span></div>
                    {% endif %}
{% empty %}
    <li class="text-right list-group-item">No messages yet!</li>
{% endfor %}

