{% extends 'base.html' %}
{% block content %}
<section>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                User Panel <small>Statistics and Alerts Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="container" >
        <div class="col-lg-8 col-md-6">
            <div class="animate">

                <div class="row">
                    <div class="col-lg-12">
                         {% for a in alert %}
                         {% if a.show_date <= date_now and a.end_date >= date_now  %}
                     <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-exclamation-triangle"></i><strong> {{a.category}} (Exp: {{a.end_date}}): </strong> {{a.description}}</a>
                        </div>
                     {% endif %}
                    {% endfor %}

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- /.row -->

    <div class="row">
       {% if perms.accounting.add_customer %}
        <a class="" href="{% url 'accounting:customer_create' %}">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary zoom-mouse">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <h3>Customer</h3>
                                <div>New Customers!</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <span class="pull-left">Go to</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
        {% if perms.accounting.add_customer %}
        <a href="{% url 'accounting:customers' %}">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green zoom-mouse">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-search fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <h3>Customers</h3>
                                <div>Search Customers!</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <span class="pull-left">Go to</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
        {% if perms.accounting.add_invoice %}
        <a href="{% url 'accounting:invoices' %}">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow zoom-mouse">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <h3>Invoice</h3>
                                <div>View Invoices!</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <span class="pull-left">Go to</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </a>
        {% endif %}
        {% if perms.services.add_insurance %}
        <a href="{% url 'services:forms' %}">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red zoom-mouse">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-newspaper-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <h3>Forms</h3>
                                <div>View Forms!</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <span class="pull-left">Go to</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </a>
        {% endif %}
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-calendar-o"></i> Events for Today</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'panel:calendar' %}">
                        <div id="calendar_container">
                            <div class="primary" id='calendar_panel'></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-comments-o"></i> Chat </h3>
                </div>
                <div class="panel-body">
                    <iframe style="height:495px;" src="{% url 'chat'%}" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <p class="bg-primary text-center">SERVICES PENDING</p>
            {% if object %}
            <table class="table table-striped">
                <thead>
                <th>Service</th>
                <th>Customer</th>
                <th>Last UpDate</th>
                 <th>Status</th>
                </thead>
                <tbody>
                {% for company in companies %}
                <tr {% if company.state == "Initiated" %} class="danger" {% endif %}  {% if company.state == "Pending" %} class="warning" {% endif %} {% if company.state == "Finalized" %} class="success" {% endif %}>
                    <td>Company</td>
                    <td><a href="/static/media/{{ file.url }}" target="_blank">{{company.customers}}</a></td>
                    <td>{{ company.update }}</td>
                    <td>company.state</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-info"> <strong>Atention!</strong> No have .</div>
            {% endif %}
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                    <div class="text-right">
                        <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Recent Actions panel</h3>
                </div>
                <div class="panel-body">
                    {% load log %}
                    {% get_admin_log 10 as admin_log for_user user %}
                    {% if not admin_log %}
                    <p>None available</p>
                    {% else %}
                    <div class="list-group">
                        {% for entry in admin_log %}
                        {% if not entry.get_admin_url %}
                        {{ entry.object_repr }}
                        {% else %}
                        <a  class="list-group-item">
                            <strong class="text-primary">{{ entry.action_time }}</strong><br/>
                            <i class="{% if entry.is_addition %}fa fa-plus-circle text-primary{% endif %}{% if entry.is_change %}fa fa-refresh text-success{% endif %}{% if entry.is_deletion %}fa fa-times-circle text-danger{% endif %}"></i>
                            {% if entry.content_type %}
                            <span class="mini quiet ">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                            {% else %}
                            <span class="mini quiet">Unknown content</span>
                            {% endif %}
                            <span class="label label-warning">{{ entry.object_repr }}</span>
                        </a>
                        {% endif %}
                        {% endfor %}

                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if perms.accounting.account %}
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Stadistic Panel Accounts</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table data-table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Account</th>
                                <th>Income</th>
                                <th>Expenses</th>
                                <th>Earnings</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for b in balance %}
                            <tr>
                                <td>{{b.account}}</td>
                                <td>$ {{b.income}}</td>
                                <td>$ {{b.expense}}</td>
                                <td>$ {{b.earning}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <td><strong> </strong></td>
                                <td><strong>$ 0</strong></td>
                                <td><strong>$ 0</strong></td>
                                <td><strong>$ 0</strong></td>
                            </tfoot>
                        </table>
                    </div>
                    <div class="text-right">
                      <a href="{% url 'accounting:account_descripall' %}">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- /.row -->

</section>
{% endblock %}