{% extends 'base.html' %}
{% block content %}
<section>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-calendar fa-4x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div><h3>My Calendar</h3></div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="navbar-button">
                <a id="btnAdd" class="btn-primary btn col-md-offset-11" role="button" data-trigger="focus" title="Add new Event" href="{% url 'panel:calendar_create' %}">
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    <tooltip md-direction="left">Add</tooltip>
                </a>
            </div>
            <div id="calendar_container">
                <div class="primary" id='calendar'></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}