<section ng-controller="busCtrl" ng-init="find()">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
          <i class="fa fa-building fa-4x"></i>
      </div>
      <div class="col-xs-9 text-left">
          <div><h3>List Business</h3></div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="navbar-button">
      <a id="btnAdd" class="btn-primary btn col-md-offset-11" role="button" href="/#!/busines/create">
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        <tooltip md-direction="left">New</tooltip>
      </a>
    </div>
    <div class="input-group col-md-3">
      <span class="input-group-btn">
        <input type="search" id="txtSearch" ng-model="searchInput" class="form-control" placeholder="Search for...">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
    <br/>
    <div style="overflow-x:auto;">
    <table id="listBusines" class="ui inverted blue table">
      <thead>
        <tr>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(name_bus)">
              <i class="sort alphabet ascending icon"></i>
            </a>
              Name
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(address_bus)">
              <i class="sort alphabet ascending icon"></i>
            </a>
            Address
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(phone_bus)">
              <i class="sort alphabet ascending icon"></i>
            </a>
            Phone
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(fax_bus)">
              <i class="sort alphabet ascending icon"></i>
            </a>
            Fax
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(date_created_bus)">
              <i class="sort alphabet ascending icon"></i>
            </a>
            Created
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(active_bus)">
              <i class="checkmark box icon"></i>
            </a>
            Active
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(date_deactivated_bus)">
              <i class="calendar outline icon"></i>
            </a>
            Deactivated Date
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="busine in business | filter:searchInput as results">
          <td>{{busine.name_bus}}</td>
          <td>{{busine.address_bus}}</td>
          <td>{{busine.phone_bus}}</td>
          <td>{{busine.fax_bus}}</td>
          <td>{{busine.date_created_bus}}</td>
          <td>
            <i ng-show="busine.active_bus == 1" class="glyphicon glyphicon-ok" aria-hidden="true">
          </td>
          <td>{{busine.date_deactivated_bus}}</td>
          <td>
          <toolbar class="md-accent">
            <a data-type="info" data-animation="am-flip-x" type="button" class="btn btn-primary test-tooltip" href="/#!/busines/{{busine.id_bus}}/edit">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <tooltip md-direction="left">Edit</tooltip>
            </a>
          </toolbar>
          </td>
          <td class="animate-repeat" ng-if="results.length === 0">
            <strong>No results found...</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
</section>
