<fieldset>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">Company Name:</label>
        {{form_company.name}}
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">Authorized Person:</label>
        {{form_company.attorney}}
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">Address:</label>
        {{form_company.address}}
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">Phone Number:</label>
        {{form_company.phone}}
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">Fax Number:</label>
        {{form_company.fax}}
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">EIN Number:</label>
        {{form_company.ein}}
    </div>
    <div class="form-group col-md-2 col-md-offset-1" >
        <label class="label-control">Unity:</label>
        {{form_company.unity}}
    </div>
    <div class="form-group col-md-2 col-md-offset-1" >
        <label class="label-control">Is Deactivate:</label>
        {{form_company.deactivate}}
    </div>
    {% if form_company.deactivate and deactivate%}
    <div class="form-group col-md-2 col-md-offset-1" >
        <label class="label-control">Deactivate Date:</label>
        {{form_company.deactivate_date}}
    </div>
    {% endif %}
    {% if not deactivate %}
    <div class="form-group col-md-5 col-md-offset-4">
        <input type="submit" class="btn btn-success" value="Save" {% if is_popup %} onclick="closepopup()" {% endif %}>
        <a type="button"  class="btn btn-danger" {% if is_popup %} onclick="closepopup()" {% else %} onclick="history.back(-1)" {% endif %}>Cancel </a>
    </div>
   {% endif %}
</fieldset>