<fieldset>
    <div class="form-group col-md-8 col-md-offset-1" >
        <label class="label-control">{{form_company.name.label}}</label>
        {{form_company.name}}
    </div>
    <div class="form-group col-md-8 col-md-offset-1" >
        <label class="label-control">{{form_company.attorney.label}}</label>
        {{form_company.attorney}}
    </div>
    <div class="form-group col-md-8 col-md-offset-1" >
        <label class="label-control">{{form_company.address.label}}</label>
        {{form_company.address}}
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">{{form_company.phone.label}}</label>
        {{form_company.phone}}
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">{{form_company.fax.label}}</label>
        {{form_company.fax}}
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">{{form_company.ein.label}}</label>
        {{form_company.ein}}
    </div>
    <div class="form-group col-md-2 col-md-offset-1" >
        <label class="label-control">{{form_company.unity.label}}</label>
        {{form_company.unity}}
    </div>
    <div class="form-group col-md-3 col-md-offset-1" >
        <label class="label-control">{{form_company.deactivate.label}}</label>
        {{form_company.deactivate}}
    </div>
     <div class="form-group col-md-6 col-md-offset-1" >
        <label class="label-control">{{form_company.logo.label}}</label>
        {{form_company.logo}}
    </div>
</fieldset>