{% extends 'base.html' %}
{% block content %}
<section>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">Company Name:</label>
        <div>{{company.name}}</div>
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">Authorized Person:</label>
        <div>{{company.attorney}}</div>
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">Other Authorized Person:</label>
        <div>{{company.otheattorney}}</div>
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">Address:</label>
        <div>{{company.address}}</div>
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">Phone Number:</label>
        <div>{{company.phone}}</div>
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">other Phone Number:</label>
        <div>{{company.othephone}}</div>
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">Fax Number:</label>
        <div>{{company.fax}}</div>
    </div>
    <div class="form-group col-md-4 col-md-offset-1" >
        <label class="label-control">EIN Number:</label>
        <div>{{company.ein}}</div>
    </div>
    <div class="form-group col-md-2 col-md-offset-1" >
        <label class="label-control">Unity:  </label>
        {{company.unity}}
    </div>
    {% if company.deactivated %}
    <div class="form-group col-md-3 col-md-offset-1" >
        <label class="label-control">Is Deactivate:</label>
        {{company.deactivate}}
    </div>
    <div class="form-group col-md-3 col-md-offset-1" >
        <label class="label-control">Deactivate Date:</label>
        {{company.deactivate_date}}
    </div>
    {% endif %}
</section>
{% endblock %}