{% extends 'base.html' %}
{% block content %}
<section>
    <div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
          <i class="fa fa-building fa-4x"></i>
      </div>
      <div class="col-xs-9 text-left">
          <div><h3>{{ title }}</h3></div>
      </div>
    </div>
  </div>
  <div class="panel-body">
      <form name="form_customer" method="post" class="form" role="form" id="form_customer" validate>{% csrf_token %}
      <fieldset>
          <div class="form-group col-md-5 col-md-offset-1" >
              <label class="label-control">{{form_company.customers.label}}</label>
              {{form_company.customers}}
              <a tipe="button" class="btn btn-link" href="">

              </a>
          </div>
           </fieldset>
          {% include 'services/company/companyForm.html'%}
      </form>
  </div>
    </div>

</section>
{% endblock %}