      <form name="form_customer" method="post" class="form" role="form" id="form_customer" validate>{% csrf_token %}
      <fieldset>
      <!-- Form Name -->
      <!-- Text input-->
      <div class="form-group col-md-3 col-md-offset-1" >
        <label class="label-control">{{form.fullname.label}} </label>
        {{form.fullname|capfirst}}
      </div>
      <!-- Text input-->
       <div class="form-group col-md-4 col-md-offset-1">
         <label class="label-control">{{ form.company_name.label }}</label>
        {{ form.company_name|capfirst }}
      </div>
    <!-- Select Basic -->
          <div class="form-group col-xs-9 col-md-4 col-md-offset-1">
              <label class="label-control">{{ form.no_social.label }}</label>
              <div class="input-group">
                  {{ form.no_social }}
                  {% if perms.auth.add_user %}
                  <span class="input-group-btn"><a id="view" name="view" class="view btn btn-success glyphicon glyphicon-eye-open" data-trigger="hola"></a></span>
                  {% endif %}
              </div>
          </div>
          <div class="form-group col-md-4 col-md-offset-1">
              <label class="label-control">{{ form.address.label }}</label>
              {{ form.address }}
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">{{ form.phone.label }}</label>
              {{ form.phone }}
          </div>
          <div class="form-group col-md-4 col-md-offset-1">
              <label class="label-control">{{ form.email.label }}</label>
              {{ form.email }}
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">{{ form.business.label }}</label>
              {{ form.business }}
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">{{ form.usdot.label }}</label>
              {{ form.usdot }}
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">{{ form.mc.label }}</label>
              {{ form.mc }}
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">{{ form.txdmv.label }}</label>
              {{ form.txdmv }}
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">{{ form.ein.label }}</label>
              {{ form.ein }}
          </div>
          <div class="form-group col-md-2 col-md-offset-1" >
              <label class="label-control">{{form.deactivated.label}} </label>
              {{form.deactivated}}
          </div>
          <!-- Button (Double) -->
          <div class="form-group col-md-5 col-md-offset-4">
              <input type="submit" class="btn btn-success" value="Save" {% if is_popup %} onclick="closepopup()" {% endif %}>
              <a type="button" class="btn btn-danger" {% if is_popup %} onclick="closepopup()" {% else %} onclick="history.back(-1)" {% endif %}>Cancel </a>
          </div>

      </fieldset>
      </form>