{% extends 'base.html' %}
{% block content %}
<section>
    <form name="form_customer" method="post" class="form" role="form" id="form_customer" validate>{% csrf_token %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-clipboard fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-left">
                        <div><h3>Customer - Services</h3></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <fieldset>
                    <!-- Form Name -->
                    <!-- Text input-->
                    <div class="form-group col-md-3 col-md-offset-1" >
                        <label class="label-control">{{form.name.label}}</label>
                        {{form.name}}
                    </div>

                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.lastname.label }}</label>
                        {{ form.lastname }}
                    </div>

                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">{{ form.no_social.label }}</label>
                        {{ form.no_social }}
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.address.label }}</label>
                        {{ form.address }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">{{ form.phone.label }}</label>
                        {{ form.phone }}
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">{{ form.business.label }}</label>
                        {{ form.business }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">{{ form.folders.label }}</label>
                        {{ form.folders }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">{{ form.users.label }}</label>
                        {{ form.users }}
                    </div>

                </fieldset>
                <!-- Button (Double) -->
                <div class="form-group col-md-3 col-md-offset-1">
                    <fieldset>
                        <div id="listServi" class="list-group">
                            <legend class="list-group-item active">Services:</legend>
                            <div class="list-group-item">
                                <input  type="checkbox" name="btnCompany" id="btnCompany">
                                <label for="btnCompany">Open Company</label>
                                </input>
                            </div>
                            <div class="list-group-item">
                                <input type="checkbox" name="btnPermit" id="btnPermit">
                                <label for="btnPermit">Permission</label>
                                </input>
                            </div>
                            <div class="list-group-item">
                                <input type="checkbox" name="btnTitle" id="btnTitle">
                                <label for="btnTitle">Title Record</label>
                                </input>
                            </div>
                            <div class="list-group-item">
                                <input type="checkbox" name="btnPlate" id="btnPlate">
                                <label for="btnPlate">Plate Registration</label>
                                </input>
                            </div>
                            <div class="list-group-item">
                                <input type="checkbox" name="btnInsurence" id="btnInsurence">
                                <label for="btnInsurence">Insurance</label>
                                </input>
                            </div>
                            <div class="list-group-item">
                                <input type="checkbox" name="btnDot" id="btnDot">
                                <label for="btnDot">DOT</label>
                                </input>
                            </div>
                            <div class="list-group-item">
                                <input type="checkbox" name="btnIfta" id="btnIfta">
                                <label for="btnIfta">IFTA</label>
                                </input>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs " role="tablist">
                                <li id="tabCompany" role="presentation" style="display: none;"><a href="#newCompany" aria-controls="newCompany" role="tab" data-toggle="tab">New Company</a></li>
                                <li id="tabPermit" role="presentation" style="display: none;"><a href="#permit" aria-controls="permite" role="tab" data-toggle="tab">Permits</a></li>
                                <li id="tabTitle" role="presentation" style="display: none;"><a href="#title" aria-controls="title" role="tab" data-toggle="tab">Title Record</a></li>
                                <li id="tabPlate" role="presentation" style="display: none;"><a href="#plate" aria-controls="plate" role="tab" data-toggle="tab">Plate Registration</a></li>
                                <li id="tabInsurance" role="presentation" style="display: none;"><a href="#insurance" aria-controls="insurance" role="tab" data-toggle="tab">Insurance</a></li>
                                <li id="tabDot" role="presentation" style="display: none;"><a href="#dot" aria-controls="dot" role="tab" data-toggle="tab">DOT</a></li>
                                <li id="tabIfta" role="presentation" style="display: none;"><a href="#ifta" aria-controls="ifta" role="tab" data-toggle="tab">IFTA</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div  class="tab-content">
                                <div role="tabpanel" class="tab-pane" id="newCompany">
                                    <div id="idcompany" style="display: none;">
                                        <fieldset>
                                            {{ form_company.as_ul }}
                                            <p>Estee s el contenido</p>
                                        </fieldset>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="permit">
                                    <div id="idpermit" style="display: none;">
                                        <fieldset>
                                            {{ form_permit.as_p }}
                                            <p>Estee s el </p>
                                        </fieldset>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="title">
                                    <div id="idtitle" style="display: none;">
                                        <fieldset>
                                            {{ form_permit.as_p }}
                                        </fieldset>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="plate">
                                    <div id="idplate" style="display: none;">
                                        <fieldset>
                                            {{ form_plate.as_p }}
                                        </fieldset>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="insurance">
                                    <div id="idinsurance" style="display: none;">
                                        <fieldset>
                                            {{ form_insurance.as_p }}
                                        </fieldset>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="dot">
                                    <div id="iddot" style="display: none;">
                                        <fieldset>
                                            {{ form_dot.as_p }}
                                        </fieldset>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ifta">
                                    <div id="idifta" style="display: none;">
                                        <fieldset>
                                            {{ form_ifta.as_p }}
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-5 col-md-offset-4">
                    <input type="submit" class="btn btn-success" value="Save">
                    <a type="button" href="{% url 'accounting:customers' %}" class="btn btn-danger">Cancel </a>
                    <input type="button" class="btn btn-primary" value="Save and Proces">
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}