{% extends 'base.html' %}
{% block content %}
<section>
    <div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
          <i class="fa fa-users fa-4x"></i>
      </div>
      <div class="col-md-offset-4">
          <div><h3>{{ title }}</h3></div>
      </div>
        <div class="col-md-offset-11">
            <a type="button" class="btn btn-info" href="{% url 'accounting:customer_edit' customer.id_cut %}"><span><i class="fa fa-pencil-square-o"></i> Edit </span></a>
      </div>
    </div>
  </div>
  <div class="panel-body">
      <!-- Form Name -->
      <!-- Text input-->
      <div class="form-group col-md-3 col-md-offset-1" >
        <label class="label-control">First and Last Name:</label>
         <div>{{customer.fullname}}</div>

      </div>
      <!-- Text input-->
       <div class="form-group col-md-4 col-md-offset-1">
         <label class="label-control">Company Name:</label>
         <div>{{ customer.company_name }}</div>
      </div>
    <!-- Select Basic -->
      <div class="form-group col-md-3 col-md-offset-1">
          <label class="label-control">SSN:</label>
          <div>{{ customer.no_social }}</div>
      </div>
          <div class="form-group col-md-4 col-md-offset-1">
              <label class="label-control">Address:</label>
              <div>{{ customer.address }}</div>
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">Phone:</label>
              <div>{{ customer.phone }}</div>
          </div>
          <div class="form-group col-md-4 col-md-offset-1">
              <label class="label-control">Email:</label>
              <div>{{ customer.email }}</div>
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">Busines:</label>
              <div>{{ customer.business }}</div>
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">USDOT:</label>
              <div>{{ customer.usdot }}</div>
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">MC:</label>
              <div>{{ customer.mc }}</div>
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">Texas DMV:</label>
              <div>{{ customer.txdmv }}</div>
          </div>
          <div class="form-group col-md-3 col-md-offset-1">
              <label class="label-control">EIN:</label>
              <div>{{ customer.ein }}</div>
          </div>
           {% if customer.deactivated %}
          <div class="form-group col-md-2 col-md-offset-1" >
              <label class="label-control"></label>
              {{customer.deactivated}}
          </div>
          <div class="form-group col-md-2 col-md-offset-1" >
              <label class="label-control"> </label>
              {{customer.date_deactivated}}
          </div>
          {% endif %}

      <div class="form-group col-md-12">
          <p class="bg-primary text-center">CUSTOMER SERVICES</p>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs " role="tablist">
                                {% if companys %}
                                <li id="tabCompany" role="presentation"><a href="#newCompany" aria-controls="newCompany" role="tab" data-toggle="tab">New Company</a></li>
                                {% endif %}
                                {% if permit %}
                                <li id="tabPermit" role="presentation"><a href="#permit" aria-controls="permite" role="tab" data-toggle="tab">Permits</a></li>
                                {% endif %}
                                {% if titles %}
                                <li id="tabTitle" role="presentation"><a href="#title" aria-controls="title" role="tab" data-toggle="tab">Title Record</a></li>
                                {% endif %}
                                {% if plate %}
                                <li id="tabPlate" role="presentation"><a href="#plate" aria-controls="plate" role="tab" data-toggle="tab">Plate Registration</a></li>
                                {% endif %}
                                {% if insurance %}
                                <li id="tabInsurance" role="presentation"><a href="#insurance" aria-controls="insurance" role="tab" data-toggle="tab">Insurance</a></li>
                               {% endif %}
                                {% if mtt %}
                                <li id="tabDot" role="presentation"><a href="#dot" aria-controls="dot" role="tab" data-toggle="tab">Maintenance</a></li>
                               {% endif %}
                                {% if ifta %}
                                <li id="tabIfta" role="presentation"><a href="#ifta" aria-controls="ifta" role="tab" data-toggle="tab">IFTA</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div  class="tab-content">

                                <div role="tabpanel" class="tab-pane fade" id="newCompany">
                                   <div class="col-md-offset-11">
                                        <a type="button" class="btn btn-success" href="{% url 'services:company_create_popup' pk=customer.id_cut popup=1 %}" target="popup" onclick="window.open('', 'popup', 'width=5 00,height=600')"><span><i class="fa fa-plus"></i> Add </span></a>
                                   </div><br/>
                                    {% if companys %}
                                    {% for company in companys %}
                                   <div class="col-md-offset-11">
                                        <a type="button" class="btn btn-info" href="{% url 'services:company_edit_popup' pk=company.id_com popup=1 %}" target="popup" onclick="window.open('', 'popup', 'width=5 00,height=600')"><span><i class="fa fa-pencil-square-o"></i> Edit </span></a>
                                    </div>
                                    {% include 'services/company/companyView.html'%}
                                    {% endfor %}
                                    {% endif %}
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="permit">
                                    {% if permit %}
                                    {% include 'services/permit/permitForm.html'%}
                                    {% endif %}
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="title">
                                    {% if titles %}
                                        {% include 'services/title/titleForm.html'%}
                                    {% endif %}
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="plate">
                                    {% if plate %}
                                        {% include 'services/plate/plateForm.html'%}
                                    {% endif %}
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="insurance">
                                    {% if insurance %}
                                       {% include 'services/insurance/insuranceForm.html'%}
                                    {% endif %}
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="dot">
                                    {% if mtt %}
                                   {% include 'services/maintenance/maintenanceForm.html'%}
                                    {% endif %}
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="ifta">
                                    {% if ifta %}
                                         {% include 'services/ifta/iftaForm.html'%}
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
      <div class="form-group col-md-12">
          <p class="bg-primary text-center">CUSTOMER FILES</p>
          <div class="col-md-offset-11">
              <a type="button" class="btn btn-success" href="{% url 'services:folder_create_popup' pk=customer.id_cut popup=1 %}" target="popup" onclick="window.open('', 'popup', 'width=700, height=600')"><span><i class="fa fa-plus"></i></span></a>
          </div>
          <table class="table table-striped">
              <thead>
              <th>Name</th>
              <th>Creative user </th>
              <th>Up load Date</th>
              <th>Action</th>
              </thead>
              <tbody>
              {% for f in files %}
              <tr>
                  <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a href="/static/media/{{ f.url }}" target="_blank">{{f.name}}</br></a></td>
                  <td>{{ f.users }}</td>
                  <td>{{ f.date_save }}</td>
                  <td>
                      <toolbar class="md-accent">
                          <a data-type="info" href="{% url 'services:folder_edit_popup' pk=f.id_fil popup=1 %}" data-trigger="focus"  data-animation="am-flip-x" type="button" class="btn btn-primary test-tooltip" target="popup" onclick="window.open('', 'popup', 'width=500, height=600')">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                              <tooltip md-direction="left"></tooltip>
                          </a>
                      </toolbar>
                      <toolbar class="md-accent">
                          <a data-type="info" href="{% url 'services:folder_delete_popup' pk=f.id_fil popup=1 %}" data-animation="am-flip-x" data-trigger="focus"   type="button" class="btn btn-danger test-tooltip" target="popup" onclick="window.open('', 'popup', 'width=10%, height=8%')">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                              <tooltip md-direction="left"></tooltip>
                          </a>
                      </toolbar>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
      <div class="form-group col-md-12">
          <p class="bg-primary text-center">NOTES</p>
          <div class="col-md-offset-11">
              <a type="button" class="btn btn-success" href="{% url 'accounting:note_create' pk=customer.id_cut popup=1 %}" target="popup" onclick="window.open('', 'popup', 'width=5 00,height=600')"><span><i class="fa fa-plus"></i></span></a>
          </div>
          <table class="table table-striped">
              <thead>
              <th>User</th>
              <th>Note</th>
              <th>Date and Timer</th>
              <th>Action</th>
              </thead>
              <tbody>
              {% for n in notes %}
              <tr>
                  <td>{{n.users}}</td>
                  <td>{{ n.note }}</td>
                  <td>{{ n.date }}</td>
                   <td>
                      <toolbar class="md-accent">
                          <a data-type="info" href="{% url 'accounting:note_edit' pk=n.id popup=1 %}" data-trigger="focus"  data-animation="am-flip-x" type="button" class="btn btn-primary test-tooltip" target="popup" onclick="window.open('', 'popup', 'width=500,height=400')">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                              <tooltip md-direction="left"></tooltip>
                          </a>
                      </toolbar>
                      <toolbar class="md-accent">
                          <a data-type="info" href="{% url 'accounting:note_delete' pk=n.id popup=1 %}" data-animation="am-flip-x" data-trigger="focus"   type="button" class="btn btn-danger test-tooltip" target="popup" onclick="window.open('', 'popup', 'width=500,height=400')">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                              <tooltip md-direction="left"></tooltip>
                          </a>
                      </toolbar>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
    </div>
<div class="modal fade" id="customerList" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center"><strong>Load List</strong></h4>
                </div>
                <div class="modal-body">
                   {% include 'accounting/customer/noteForm.html'%}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}