{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 col-md-offset-4">
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-exclamation-triangle fa-4x"></i>
            </div>
            <div class="col-xs-6 text-left">
                <div><h3>Delete Confirm</h3></div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form method="post">{% csrf_token %}
            <h3>Confirm that you want to delete {{customer.name}}</h3>
            <div class="form-group col-md-10 col-md-offset-3">
                <input class="btm btn-danger" type="submit" value="Yes, I'm sure"/>
                <a href="{% url 'accounting:customers' %}" class="button cancel-link">No, take me back</a>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}