<fieldset>
    <div class="form-group col-md-10 col-md-offset-1" >
        <label class="label-control">{{form_mtt.nota.label}}</label>
        {{form_mtt.nota}}
    </div>
    </fieldset>
    <br/>
    <p class="bg-primary"><strong>Contract Data:</strong></p>
   <fieldset>
    <div class="form-group col-md-9 col-md-offset-1" >
        <label class="label-control">{{form_contract.description.label}}</label>
        {{form_contract.description}}
    </div>
    <div class="form-group col-md-5 col-md-offset-1" >
        <label class="label-control">{{form_contract.serial.label}}</label>
        {{form_contract.serial}}
    </div>
    <div class="form-group col-md-5 col-md-offset-1">
        <label class="label-control">{{form_contract.start_date.label}}</label>
        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
            {{form_contract.start_date}}
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>
    </div>
    <div class="form-group col-md-5 col-md-offset-1">
        <label class="label-control">{{form_contract.end_date.label}}</label>
        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
            {{form_contract.end_date}}
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>
        <label>
           <input type="checkbox" id="contract_alert" name="contract_alert" checked> Alert
        </label>
    </div>
    <div class="form-group col-md-5 col-md-offset-1" >
        <label class="label-control">{{form_contract.type.label}}</label>
        {{form_contract.type}}
    </div>
</fieldset>