{% extends 'base.html' %}
{% block content %}
<section>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-clipboard fa-4x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div><h3>Customer - Services</h3></div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form name="form_customer" method="post" class="form" role="form" id="form_customer" validate>{% csrf_token %}
                <fieldset>
                    {% if not is_popup %}
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label class="label-control">Select Customer:</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" id="addcustomer" class="btn btn-success test-tooltip" data-toggle="modal" data-target="#customerList"data-type="info" data-trigger="focus" title="Customer List" data-animation="am-flip-x">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                    <tooltip md-direction="left"></tooltip>
                                </button>
                            </span>
                            <select id="id_customers" class="form-control input-md" name="customers" required="">
                                <option value="" selected>---------</option>
                                {% for c in customers %}
                                <option value="{{c.id_cut}}">{{c}}</option>
                                {% endfor %}
                            </select>
                            <span class="input-group-btn">
                                <a type="button" id="newcustomer" class="btn btn-success test-tooltip" href="{% url 'accounting:customer_popup' 1 %}" target="popup" onclick="window.open('','popup',' location=1, directories=0, resizable=0, width=500,height=700,Top=20,Left=490')" data-trigger="focus" title="Add new Customer" data-animation="am-flip-x">
                                    <i class="fa fa-plus"></i>
                                    <tooltip md-direction="right"></tooltip>
                                </a>
                            </span>
                        </div>

                    </div>
                    {% include 'accounting/customer/customerModal.html'%}
                    {% endif %}
                </fieldset>
                <br/>
                <p class="bg-primary"><strong>Contract Data:</strong></p>
                <fieldset>
                    <div class="form-group col-md-9 col-md-offset-1" >
                        <label class="label-control">{{form_contract.description.label}}</label>
                        {{form_contract.description}}
                    </div>
                    <div class="form-group col-md-5 col-md-offset-1" >
                        <label class="label-control">{{form_contract.serial.label}}</label>
                        {{form_contract.serial}}
                    </div>
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label class="label-control">{{form_contract.start_date.label}}</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form_contract.start_date}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label class="label-control">{{form_contract.end_date.label}}</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form_contract.end_date}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                        <label>
                            <input type="checkbox" id="contract_alert" name="contract_alert" checked> Alert
                        </label>
                    </div>
                    <div class="form-group col-md-5 col-md-offset-1" >
                        <label class="label-control">{{form_contract.type.label}}</label>
                        {{form_contract.type}}
                    </div>
                </fieldset>
                <fieldset>
                <!-- Button (Double) -->
                <div class="form-group col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs " role="tablist">
                                <li id="tabCompany" role="presentation"><a href="#newCompany" aria-controls="newCompany" role="tab" data-toggle="tab">New Company</a></li>
                                <li id="tabPermit" role="presentation"><a href="#permit" aria-controls="permite" role="tab" data-toggle="tab">Permits</a></li>
                                <li id="tabTitle" role="presentation"><a href="#title" aria-controls="title" role="tab" data-toggle="tab">Title Record</a></li>
                                <li id="tabPlate" role="presentation"><a href="#plate" aria-controls="plate" role="tab" data-toggle="tab">Plate Registration</a></li>
                                <li id="tabInsurance" role="presentation" style="display: none;"><a href="#insurance" aria-controls="insurance" role="tab" data-toggle="tab">Insurance</a></li>
                                <li id="tabIfta" role="presentation"><a href="#ifta" aria-controls="ifta" role="tab" data-toggle="tab">IFTA</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">

                                <div  class="tab-content">
                                    <div role="tabpanel" class="tab-pane" id="newCompany">
                                        <div id="idcompany">
                                            <div class="form-group col-md-4 col-md-offset-1" >
                                                <label class="label-control">Company Name:</label>
                                                {{form_company.name}}
                                            </div>
                                            <div class="form-group col-md-4 col-md-offset-1" >
                                                <label class="label-control">Authorized Person:</label>
                                                {{form_company.attorney}}
                                            </div>
                                            <div class="form-group col-md-4 col-md-offset-1" >
                                                <label class="label-control">Address:</label>
                                                {{form_company.address}}
                                            </div>
                                            <div class="form-group col-md-4 col-md-offset-1" >
                                                <label class="label-control">Phone Number:</label>
                                                {{form_company.phone}}
                                            </div>
                                            <div class="form-group col-md-4 col-md-offset-1" >
                                                <label class="label-control">Fax Number:</label>
                                                {{form_company.fax}}
                                            </div>
                                            <div class="form-group col-md-4 col-md-offset-1" >
                                                <label class="label-control">EIN Number:</label>
                                                {{form_company.ein}}
                                            </div>
                                            <div class="form-group col-md-2 col-md-offset-1" >
                                                <label class="label-control">Unity:</label>
                                                {{form_company.unity}}
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="permit">
                                        <div id="idpermit">
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_permit.usdot.label}}</label>
                                                {{form_permit.usdot}}
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_permit.usdot_pin.label}}</label>
                                                {{form_permit.usdot_pin}}
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_permit.txdmv.label}}</label>
                                                {{form_permit.txdmv}}
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_permit.txdmv_user.label}}</label>
                                                {{form_permit.txdmv_user}}
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_permit.txdmv_passd.label}}</label>
                                                {{form_permit.txdmv_passd}}
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1">
                                                <label class="label-control">{{form_permit.txdmv_date.label}}</label>
                                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{form_permit.txdmv_date}}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1">
                                                <label class="label-control">{{form_permit.txdmv_date_exp.label}}</label>
                                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{form_permit.txdmv_date_exp}}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                                <label>
                                                    <input type="checkbox" id="txdmv_alert" name="txdmv_alert" checked> Alert
                                                </label>
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_permit.mc.label}}</label>
                                                {{form_permit.mc}}
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_permit.mc_pin.label}}</label>
                                                {{form_permit.mc_pin}}
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_permit.boc3.label}}</label>
                                                {{form_permit.boc3}}
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1">
                                                <label class="label-control">{{form_permit.boc3_date.label}}</label>
                                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{form_permit.boc3_date}}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_permit.urc.label}}</label>
                                                {{form_permit.urc}}
                                            </div>

                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="title">
                                        <div id="idtitle">
                                            <div class="form-group col-md-5 col-md-offset-1">
                                                <label class="label-control">{{form_title.date_reg.label}}</label>
                                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{form_title.date_reg}}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1">
                                                <label class="label-control">{{form_title.date_exp_reg.label}}</label>
                                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{form_title.date_exp_reg}}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                                <label>
                                                    <input type="checkbox" id="register_alert" name="register_alert" checked> Alert
                                                </label>
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1">
                                                <label class="label-control">{{form_title.date_insp.label}}</label>
                                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{form_title.date_insp}}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1">
                                                <label class="label-control">{{form_title.date_exp_insp.label}}</label>
                                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{form_title.date_exp_insp}}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                                <label>
                                                    <input type="checkbox" id="inspection_alert" name="inspection_alert" checked> Alert
                                                </label>
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_title.trucks.label}}</label>
                                                {{form_title.trucks}}
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="plate">
                                        <div id="idplate">

                                            <div class="form-group col-md-5 col-md-offset-1">
                                                <label class="label-control">{{form_plate.date.label}}</label>
                                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{form_plate.date}}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1">
                                                <label class="label-control">{{form_plate.date_exp.label}}</label>
                                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{form_plate.date_exp}}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                                <label>
                                                    <input type="checkbox" id="plate_alert" name="plate_alert" checked> Alert
                                                </label>
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_plate.account_number.label}}</label>
                                                {{form_plate.account_number}}
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_plate.account_user.label}}</label>
                                                {{form_plate.account_user}}
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_plate.account_password.label}}</label>
                                                {{form_plate.account_password}}
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1" >
                                                <label class="label-control">{{form_plate.trucks.label}}</label>
                                                {{form_plate.trucks}}
                                            </div>

                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="insurance">
                                        <div id="idinsurance">

                                            <div>
                                                <strong>Select Coverage:</strong><br/>
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary">
                                                        <input type="checkbox" id="btnliability" autocomplete="off"> Liability
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="checkbox" id="btncargo" autocomplete="off"> Cargo
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="checkbox" id="btnphysical" autocomplete="off"> Physical Damage
                                                    </label>
                                                </div>
                                                <br/>
                                                <br/>
                                                <div id="liability" style="display: none;">
                                                    <div class="form-group col-md-5 col-md-offset-1" >
                                                        <label class="label-control">{{form_insurance.liability.label}}</label>
                                                        {{form_insurance.liability}}
                                                    </div>
                                                    <div class="form-group col-md-5 col-md-offset-1" >
                                                        <label class="label-control">{{form_insurance.policy_liability.label}}</label>
                                                        {{form_insurance.policy_liability}}
                                                    </div>
                                                </div>
                                                <br/>
                                                <div id="cargo" style="display: none;">
                                                    <div class="form-group col-md-5 col-md-offset-1" >
                                                        <label class="label-control">{{form_insurance.cargo.label}}</label>
                                                        {{form_insurance.cargo}}
                                                    </div>
                                                    <div class="form-group col-md-5 col-md-offset-1" >
                                                        <label class="label-control">{{form_insurance.cargo_policy.label}}</label>
                                                        {{form_insurance.cargo_policy}}
                                                    </div>
                                                </div>
                                                <br/>
                                                <div id="physical" style="display: none;">
                                                    <div class="form-group col-md-5 col-md-offset-1" >
                                                        <label class="label-control">{{form_insurance.physical_damage.label}}</label>
                                                        {{form_insurance.physical_damage}}
                                                    </div>
                                                    <div class="form-group col-md-5 col-md-offset-1" >
                                                        <label class="label-control">{{form_insurance.physical_damg_policy.label}}</label>
                                                        {{form_insurance.physical_damg_policy}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1">
                                                <label class="label-control">{{form_insurance.policy_efective_date.label}}</label>
                                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{form_insurance.policy_efective_date}}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5 col-md-offset-1">
                                                <label class="label-control">{{form_insurance.policy_date_exp.label}}</label>
                                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{form_insurance.policy_date_exp}}
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                </div>
                                                <label>
                                                    <input type="checkbox" id="policy_alert" name="policy_alert" checked> Alert
                                                </label>
                                            </div>
                                            <div class="form-group col-md-3 col-md-offset-1" >
                                                <label class="label-control">{{form_insurance.sale_type.label}}</label>
                                                {{form_insurance.sale_type}}
                                            </div>
                                            <div class="form-group col-md-3 col-md-offset-1" >
                                                <label class="label-control">{{form_insurance.sale_date_fee.label}}</label>
                                                {{form_insurance.sale_date_fee}}
                                            </div>
                                            <div class="form-group col-md-3 col-md-offset-1" >
                                                <label class="label-control">{{form_insurance.down_payment.label}}</label>
                                                {{form_insurance.down_payment}}
                                            </div>
                                            <div class="form-group col-md-3 col-md-offset-1" >
                                                <label class="label-control">{{form_insurance.comision.label}}</label>
                                                {{form_insurance.comision}}
                                            </div>
                                            <div class="form-group col-md-3 col-md-offset-1" >
                                                <label class="label-control">{{form_insurance.total.label}}</label>
                                                {{form_insurance.total}}
                                            </div>
                                            <div class="form-group col-md-3 col-md-offset-1" >
                                                <label class="label-control">{{form_insurance.paid.label}}</label>
                                                {{form_insurance.paid}}
                                            </div>

                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="ifta">
                                        <div id="idifta">
                                            <div class="form-group col-md-9 col-md-offset-1" >
                                                <label class="label-control">Type</label>
                                                {{form_ifta.type}}
                                            </div>
                                            <div class="form-group col-md-10 col-md-offset-1" >
                                                <label class="label-control">Select Period</label>
                                                {{form_ifta.period}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
                </fieldset>
                <br/>
                <div>
                <fieldset>
                    <div class="form-group col-md-10" >
                        <label class="label-control">{{form_mtt.nota.label}}</label>
                        {{form_mtt.nota}}
                    </div>
                    <div class="form-group col-md-2" >
                        <label class="label-control">Service Process:</label>
                        {{form_mtt.state}}
                    </div>
                </fieldset>
                    </div>
                <div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="Police Expire">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Alert URGENT</h4>
                            </div>
                            <div class="modal-body">
                                <fieldset>
                                    <div class="form-group col-md-6">
                                        <label class="label-control">Days to be for show alert:</label>
                                        <select name="alert_day">
                                            <option value="5">5 day</option>
                                            <option value="15">15 day</option>
                                            <option value="30">30 day</option>
                                        </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="label-control">{{ form.group.label }}</label>
                            {{ form_alert.group }}
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</input>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-5 col-md-offset-4">
        <input type="button" class="btn btn-success" value="Save" data-toggle="modal" data-target="#alert">
        <a type="button" href="{% url 'accounting:customers' %}" class="btn btn-danger">Cancel </a>
        <input type="button" class="btn btn-primary" value="Save and Proces">
    </div>
    </form>
    </div>
    </div>

</section>
{% endblock %}