{% extends 'base.html' %}
{% block content %}

<section>

    <div class="panel panel-primary">
      <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-users fa-4x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div><h3> Change Password</h3></div>
                </div>
            </div>
        </div>
        {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
        <div class="panel-body" >
            <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
           <form name="form_password" method="post" class="form" role="form" id="form_password" validate>
           {% csrf_token %}
            <div class="form-group">
             {{ form }}
            </div>
           <button type="submit" class="btn btn-primary">Save changes</button>
          </form>

        </div>

    </div>

</section>
{% endblock %}




