{% extends 'base.html' %}
{% block content %}
<section>
    <script>
    $(document).ready(function() {
    $('table.display').DataTable();
      } );
  </script>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-list fa-4x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div><h3>Account Description</h3></div>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <table id="" class="table data-table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Document</th>
                    <th>Value</th>
                </tr>
                </thead>
                {% if object_list %}
                <tbody>
                {% for account in object_list %}
                <tr>
                    <td>{{ account.date}}</td>
                    <td>{{ account.accounts.name }}</td>
                    <td>{{ account.type}}</td>
                    <td>$ {{ account.value}}</td>
                </tr>
                {% endfor %}
                </tbody>
                {% else %}
               <tr>
                    <strong>No results found...</strong>
                </tr>
                {% endif %}
            </table>

        </div>
    </div>
</section>
{% endblock %}