<section>
    <div class="table-responsive">
                <table id="listDriver" class="data-table table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-3">License Number</th>
                        <th class="col-md-3">License Date Expiration</th>
                        <th class="col-md-2">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in driver %}
                    <tr {% if i.state == "Initiated" %} class="warning" {% endif %}  {% if i.state == "Pending" %} class="danger" {% endif %} {% if i.state == "Finalized" %} class="success" {% endif %}>
                        <td><a onclick="openpopup('{% url 'services:driver' pk=i.id_drv popup=1%}')">{{i.name}}</a></td>
                        <td>{{i.license_numb}}</td>
                        <td>{{i.lic_date_exp}}</td>

                        <td>
                            {% if perms.services.change_audit %}
                            <toolbar class="md-accent">
                                <a type="button" class="btn btn-info" href="{% url 'services:driver_edit' i.id_drv %}"><span><i class="fa fa-pencil-square-o"></i></span></a>
                            </toolbar>
                            {% endif %}
                            {% if perms.services.delete_audit %}
                            <toolbar class="md-accent">
                                <a type="button" class="btn btn-danger" href="{% url 'services:driver_delete' i.id_drv %}"><span><i class="fa fa-trash"></i></span></a>
                            </toolbar>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
</section>
