{% extends 'base.html' %}
{% block content %}
    <form name="form_invoices" method="post" class="form" role="form" id="form_invoices" validate>{% csrf_token %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-indent fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-left">
                        <div><h3>{{ title }}</h3></div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p class="bg-info"><strong>Invoice Header</strong></p>
                <fieldset>
                    <!-- Form Name -->
                    <!-- Text input-->
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label class="label-control">{{ form.start_date.label }}</label>
                        <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{ form.start_date }}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-md-offset-1">
                        <label class="label-control">{{ form.prefix.label }}</label>
                        {{ form.prefix }}
                    </div>
                    <div class="form-group col-md-5 col-md-offset-1">
                        <label class="label-control">{{ form.end_date.label }}</label>
                        <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{form.end_date}}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">{{ form.business.label }} </label>
                        {{ form.business }}
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.customers.label }} </label>
                        {{ form.customers }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control">{{ form.waytopay.label }} </label>
                        {{ form.waytopay }}
                    </div>
                    <div class="form-group col-md-3 col-md-offset-1">
                        <div class="list-group" name="type">
                            <legend class="list-group-item active">Type of description:</legend>
                            <div class="radio active">
                                <label>
                                    <input type="radio" name="btnService" id="btnService" value="service" checked>
                                    Service
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="btnService" id="btnLoad" value="load">
                                    Load
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br/>
                <p class="bg-info"><strong>Drescription to Invoice</strong></p>
                <div id="panelService" style="...">
                    <div class="form-group">
                        <div class="col-md-1" >
                            <input id="quantity" class="col-md-1 form-control" name="quantity" type="number">
                        </div>
                        <div class="col-md-6" >
                            <select id="selecItem" name="selecItem" class="form-control">
                                <option>Select one</option>
                                {% for item in items %}
                                <option value="{{item.id_ite}}" onselect="data:{id:'{{item.id_ite}}', name:'{{item.name}}', value:'{{item.value}}'">{{item.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button id="addService" data-type="info" data-trigger="focus" title="Add new Item" data-animation="am-flip-x" type="button" class="btn btn-success test-tooltip">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <tooltip md-direction="left"></tooltip>
                        </button>
                    </div>
                    <br/>
                    <div class="form-group">
                        <table id="tbItem" class="table table-striped table-bordered ">
                            <thead>
                            <tr>
                                <th style="display : none"></th>
                                <th>Quantity</th>
                                <th>Description</th>
                                <th>Unit Price</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <fieldset>
                            <div class="form-group col-xs-9 col-md-2 col-md-offset-1">
                                <label class="label-control">Subtotal:</label>
                                <div class="alert alert-info col-lg-9 col-md-6">
                                    <strong>$ </strong>
                                    <span id="servSutotal"></span>
                                </div>
                            </div>
                            <div class="form-group col-xs-9 col-md-2 col-md-offset-1">
                                <label class="label-control"> {{ form.discount.label }} </label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    {{ form.discount }}
                                </div>
                            </div>
                            <div class="form-group col-md-2 col-md-offset-1">
                                <label class="label-control col-lg-9">Total:</label>
                                <div class="alert alert-danger col-lg-9 col-md-3">
                                    <strong>$ </strong>
                                    <span id="serviTotal"><strong></strong></span>
                                </div>
                            </div>
                            <div class="form-group col-md-2 col-md-offset-1" >
                                <label class="label-control">{{form.paid.label}} </label>
                                {{form.paid}}
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div id="panelLoad" style="display : none">
                    <div class="form-group">
                        <div class="col-md-6" >
                            <select id="selecLoad" class="form-control">
                                <option>Select one</option>
                                {% for load in loads %}
                                <option>{{load.number}}/{{ load.broker }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button data-type="info" data-trigger="focus" title="Add new Item" data-animation="am-flip-x" class="btn btn-primary test-tooltip">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <tooltip md-direction="left"></tooltip>
                        </button>
                    </div>
                    <div class="form-group">
                        <table id="tbLoad" class="table table-striped table-bordered ">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Broker</th>
                                <th>Driver</th>
                                <th>Date Loading</th>
                                <th>Place Loading</th>
                                <th>Dispash</th>
                                <th>Value</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-md-1"></td>
                                <td class="col-md-2"></td>
                                <td class="col-md-2"></td>
                                <td class="col-md-2"></td>
                                <td class="col-md-2"></td>
                                <td class="col-md-2"></td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1">
                                    <toolbar class="md-accent">
                                        <button data-type="info" data-trigger="focus" title="Add new Item" data-animation="am-flip-x" type="button" class="btn btn-danger test-tooltip" href="">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            <tooltip md-direction="left"></tooltip>
                                        </button>
                                    </toolbar>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <fieldset>

                            <div class="form-group col-xs-9 col-md-2 col-md-offset-1">
                                <label class="label-control">Sustotal:</label>
                                <div class="alert alert-warning col-lg-9 col-md-6">
                                    <strong>$ </strong>
                                    <span id="loadSutotal">{{loadsubtotal}}</span>
                                </div>
                            </div>
                            <div class="form-group col-xs-9 col-md-2 col-md-offset-1">
                                <label class="label-control"> {{ form.discount.label }} </label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    {{ form.discount }}
                                </div>
                            </div>
                            <div class="form-group col-xs-9 col-md-2 col-md-offset-1">
                                <label class="label-control col-lg-9">Total:</label>
                                <div class="alert alert-danger col-lg-9 col-md-6">
                                    <strong>$ </strong>
                                    <span id="loadTotal"> <strong>{{loadtotal}}</strong></span>
                                </div>
                            </div>
                            <div class="form-group col-md-2 col-md-offset-1" >
                                <label class="label-control">{{form.paid.label}} </label>
                                {{form.paid}}
                            </div>
                        </fieldset>
                    </div>
                </div>
                <!-- Button (Double) -->
                <div class="form-group col-md-5 col-md-offset-4">
                    <a type="button" href="{% url 'accounting:invoices' %}" class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i> Save and Print</a>
                    <input type="submit" class="btn btn-success" value="Save">
                    <a type="button" href="{% url 'accounting:invoices' %}" class="btn btn-danger">Cancel </a>
                </div>
            </div>
        </div>
    </form>
{% block script %}
<script>
    $(document).ready( function () {
        $('#btnService').change(function(){
        if (this.checked) {
            $('#panelService').attr("style", "display : initial;");
            $('#panelLoad').attr("style", "display : none;");
        }
        else {
            $('#panelService').attr("style", "display : none;");
            $('#panelLoad').attr("style", "display : initial;");
        }
   });

   $('#btnLoad').change(function(){
        if (this.checked) {
            $('#panelService').attr("style", "display : none;");
            $('#panelLoad').attr("style", "display : initial;");

        }
        else {
            $('#panelService').attr("style", "display : initial;");
            $('#panelLoad').attr("style", "display : none;");
        }
   });
     });
</script>

{% endblock script %}

{% endblock content %}

