{% extends 'base.html' %}
{% block content %}
<section>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-list fa-4x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div><h3>{{title}}</h3></div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="navbar-button">
                <a id="btnAdd" class="btn-primary btn col-md-offset-11" role="button" data-trigger="focus" title="Add User" href="{% url 'accounting:invoices_create' %}">
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    <tooltip md-direction="left">New</tooltip>
                </a>
            </div>
            <div class="input-group col-md-3">
                <span class="input-group-btn">
                    <input type="search" id="txtSearch" class="form-control" placeholder="Search for...">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
            <br/>
            <div style="overflow-x:auto;">
                <table id="listInvoices" class="ui inverted blue table">
                    <thead>
                    <tr>
                        <th>Accounts</th>
                        <th>Customers</th>
                        <th>Business</th>
                        <th>Users</th>
                        <th>Serial</th>
                        <th>Start Date</th>
                        <th>Subtotal</th>
                        <th>Total</th>
                        <th>Way to Pay</th>
                        <th>Discount</th>
                        <th>Paid</th>
                        <th>Prefix</th>
                        <th>End Date</th>

                    </tr>
                    </thead>
                    {% if object_list %}
                    {% for c in object_list %}
                    <tbody>
                    <tr>

                        <td>{{c.accounts}}</td>
                        <td>{{c.customers}}</td>
                        <td>{{c.business}}</td>
                        <td>{{c.users}}</td>
                        <td>{{c.serial}}</td>
                        <td>{{c.start_date}}</td>
                        <td>{{c.subtotal}}</td>
                        <td>{{c.total}}</td>
                        <td>{{c.waytopay}}</td>
                        <td>{{c.discount}}</td>
                        <td>{{c.paid}}</td>
                         <td>{{c.prefix}}</td>
                         <td>{{c.end_date}}</td>

                        <td>
                            <toolbar class="md-accent">
                                <a data-type="info" data-trigger="focus" title="Edit Invoices" data-animation="am-flip-x" type="button" class="btn btn-primary test-tooltip" href="{% url 'accounting:invoices_edit' c.id_inv %}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    <tooltip md-direction="left"></tooltip>
                                </a>
                            </toolbar>
                            <toolbar class="md-accent">
                                <a data-type="info" data-animation="am-flip-x" data-trigger="focus" title="Delete Invoices" type="button" class="btn btn-primary test-tooltip" href="{% url 'accounting:invoices_delete' c.id_inv %}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    <tooltip md-direction="left"></tooltip>
                                </a>
                            </toolbar>
                        </td>

                    </tr>
                    </tbody>
                     {% endfor %}
                    {% else %}
                    <tfoot>
                    <div>
                        <strong>No results found...</strong><a href="{% url 'accounting:invoices_create' %}">add one</a>
                    </div>
                    </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}