{% extends 'base.html' %}
{% block content %}
<section>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-users fa-4x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div><h3>{{ title }}</h3></div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form name="form_drivers" method="post" class="form" role="form" id="form_drivers" validate>{% csrf_token %}
                <fieldset>
                    <!-- Form Name -->
                    <!-- Text input-->
                    <div class="form-group col-md-4 col-md-offset-1" >
                        <label class="label-control">{{form.name.label}} </label>
                        {{form.name}}
                    </div>
                    <!-- Text input-->
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control"> {{ form.comercial_name.label }}</label>
                        {{ form.comercial_name }}
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.license_numb.label }} </label>
                        {{ form.license_numb }}
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.address.label }} </label>
                        {{ form.address }}
                    </div>
                     <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.email.label }} </label>
                        {{ form.email }}
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.dob.label }}</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{ form.dob }}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.lic_date_exp.label }}</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{ form.lic_date_exp }}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                        <label>
                            <input type="checkbox" id="lic_alert" name="lic_alert" checked> Alert
                        </label>
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.medicard_date_exp.label }}</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{ form.medicard_date_exp }}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                        <label>
                            <input type="checkbox" id="medicard_alert" name="medicard_alert" checked> Alert
                        </label>
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.drugtest_date.label }}</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{ form.drugtest_date }}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.drugtest_date_exp.label }}</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{ form.drugtest_date_exp }}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                        <label>
                            <input type="checkbox" id="drugtest_alert" name="drugtest_alert" checked> Alert
                        </label>
                    </div>
                     <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.mbr_date.label }}</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{ form.mbr_date }}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.mbr_date_exp.label }}</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{ form.mbr_date_exp }}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                        <label>
                            <input type="checkbox" id="mbr_alert" name="mbr_alert" checked> Alert
                        </label>
                    </div>
                    <div class="form-group col-md-4 col-md-offset-1">
                        <label class="label-control">{{ form.begining_date.label }}</label>
                        <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            {{ form.begining_date }}
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                     <div class="form-group col-md-3 col-md-offset-1">
                        <label class="label-control"> {{ form.deactivate.label }}</label>
                        {{ form.deactivate }}
                    </div>
                    <!-- Button (Double) -->
                    <div class="form-group col-md-5 col-md-offset-4">
                        <a type="button" class="btn btn-success" data-toggle="modal" data-target="#alert">Save</a>
                        <a type="button" href="{% url 'logistic:drivers' %}" class="btn btn-danger">Cancel </a>
                    </div>
                     <div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="Police Expire">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Alert URGENT</h4>
                            </div>
                            <div class="modal-body">
                                <fieldset>
                                    <div class="form-group col-md-6">
                                        <label class="label-control">Days to be for show alert:</label>
                                        <select name="alert_day">
                                            <option value="5">5 day</option>
                                            <option value="15">15 day</option>
                                            <option value="30">30 day</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label class="label-control">{{ form_alert.group.label }}</label>
                                        {{ form_alert.group }}
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-success" value="Save">
                            </div>
                        </div>
                    </div>
                </div>
                </fieldset>
            </form>
        </div>
    </div>

</section>
{% endblock %}