<section ng-controller="prfCtrl" ng-init="find()">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
          <i class="fa fa-list fa-4x"></i>
      </div>
      <div class="col-xs-9 text-left">
          <div><h3>List Profilers</h3></div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="navbar-button">
      <a id="btnAdd" class="btn-primary btn col-md-offset-11" role="button" data-ng-href="/#!/profilers/create">
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        <tooltip md-direction="left">New</tooltip>
      </a>
    </div>
    <div class="input-group col-md-3">
      <span class="input-group-btn">
        <input type="search" id="txtSearch" ng-model="searchInput" class="form-control" placeholder="Search for...">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
    <br/>
    <div style="overflow-x:auto;">
    <table id="listUsers" class="ui inverted blue table">
      <thead>
        <tr>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(name_prf)">
              <i class="sort alphabet ascending icon"></i>
            </a>
              Name
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(description_prf)">
              <i class="sort alphabet ascending icon"></i>
            </a>
            Description
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(active_prf)">
              <i class="checkmark box icon"></i>
            </a>
            Active
          </th>
          <th>
            <a href="" class="ui icon right" ng-click="orderByColum(date_deactivated_prf)">
              <i class="calendar outline icon"></i>
            </a>
            Deactivated Date
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="profiler in profilers | filter:searchInput as results">
          <td>{{profiler.name_prf}}</td>
          <td>{{profiler.description_prf}}</td>
          <td>
            <i ng-show="profiler.active_prf == 1" class="glyphicon glyphicon-ok" aria-hidden="true">
          </td>
          <td>{{profiler.date_deactivated_prf}}</td>
          <td>
          <toolbar class="md-accent">
            <a data-type="info" data-animation="am-flip-x" type="button" class="btn btn-primary test-tooltip" ng-href="/#!/profilers/{{profiler.id_prf}}/edit">
              <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
              <tooltip md-direction="left">Edit</tooltip>
            </a>
          </toolbar>
          </td>
          <td class="animate-repeat" ng-if="results.length === 0">
            <strong>No results found...</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
</section>
