{% extends 'base.html' %}
{% block extrastyle %}
<script type="text/javascript">
 function openpopup(url){
   newwindow = window.open(url,'popup',' location=1, directories=0, resizable=0, width=500,height=700,Top=20,Left=490');
   if (window.focus) {newwindow.focus()}
   return false;
 }
 function closepopup(){
   window.opener.location.href=window.opener.location.href;
   window.close();
   return false;
 }
$(document).ready( function () {


  });
</script>

{% endblock %}
{% block content %}
<section>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-indent fa-4x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <div><h3>{{ title }}</h3></div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form name="form_email" method="post" class="form" role="form" id="form_email" validate>{% csrf_token %}

                <div class="form-group col-md-8 col-md-offset-1">
                    <label class="label-control">To:</label>
                    {{ form.email }}
                </div>
                <!-- Select Basic -->
                <div class="form-group col-md-4 col-md-offset-1">
                    <label class="label-control">Topic: </label>
                    {{ form.topic }}
                </div>
                <div class="form-group col-md-9 col-md-offset-1">
                    <label class="label-control">Message: </label>
                    {{ form.message }}
                </div>

                <div class="form-group col-md-9 col-md-offset-1">
                    <label class="label-control">Att:</label>
                    {% if not file %}
                       {{ form.file }}
                    {% else %}
                     <div>
                         <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a href="/static/media/{{ file.url }}" target="_blank">{{file.name}}</a>
                     </div>
                    {% endif %}

                </div>

                <!-- Button (Double) -->
                <div class="form-group col-md-5 col-md-offset-4">
                    <input type="submit" class="btn btn-success" value="Save">
                    <a type="button" onclick="history.back(-1)" class="btn btn-danger">Cancel </a>
                </div>

                </fieldset>
            </form>
        </div>
    </div>

</section>
{% endblock %}